/* fretboard.css */

/* General text styles */
.fret-label {
  font-family: sans-serif;
  font-size: 12px;
  fill: #0077cc;
  text-anchor: middle;
}

text.chord-comment {
  font-family: sans-serif;
  font-size: 12px;
  fill: #333;
}

.string-muted {
  fill: #0077cc;
  font-family: sans-serif;
  font-size: 12px;
}

/* Note Labels */
.open-note {
  font-family: sans-serif;
  font-size: 12px;
  fill: #0077cc;
  text-anchor: middle;
}

.note-label {
  font-family: sans-serif;
  font-size: 10px;
  fill: #0077cc;
  text-anchor: middle;
}

/* Circle dots */
.dot-active {
  fill: #0077cc;
  stroke: #ffffff;
  stroke-width: 1;
}

/* Strings and frets */
.string-line {
  stroke: #aaa;
  stroke-width: 2;
}

.fret-bar {
  stroke: #666;
  stroke-width: 4;
  
}

.note-box {
  fill: white;
  stroke: #0077cc;
  stroke-width: 0.5;
  opacity: 0.9;
}

.open-note, .note-label {
  font-family: sans-serif;
  font-size: 12px;
  fill: #0077cc;
  text-anchor: middle;
  pointer-events: none;
}